<!DOCTYPE html>

<html lamng="eng" dir="ltr">
<body class="border">
  <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-4">
            <h3 class="heading">SIP</h3>
            <div class="col col-lg-12">
                <input type="text" placeholder="Enter Fund Name" name="fundname" [(ngModel)]=investmentDetailsRequest.fundName class="form-control" />
              </div>
              <br/>
              <div class="col col-lg-12" *ngIf="dates">
                <select id="dates" name="date" [(ngModel)]=investmentDetailsRequest.date class="form-control cust-sel">
                  <option value="undefined" selected disabled>Select SIP Date</option>
                  <option *ngFor="let date of dates" [ngValue]="date">{{date}}</option>
                </select>
              </div>
              <br/>
              <div class="col col-lg-12">
                <input type="text" placeholder="Enter Amount" name="denomination" [(ngModel)]=investmentDetailsRequest.denomination class="form-control" />
              </div>
              <br/>
              <div class="col col-lg-12">
                <select id="profile" name="profile" [(ngModel)]=investmentDetailsRequest.profile class="form-control cust-sel">
                  <option value="undefined" selected disabled>Select Profile</option>
                  <option *ngFor="let name of profile" [ngValue]="name">{{name}}</option>
                </select>
              </div>
              <br/>

        </div>
        <div class="col col-lg-4">
            <h3 class="heading">Mutual Fund Returns</h3>
            <div class="col col-lg-12" *ngIf="dates">
                <div class="col col-lg-12">
                    <select id="profile" name="profile" [(ngModel)]=investmentReturnRequest.profile class="form-control cust-sel">
                      <option value="undefined" selected disabled>Select Profile</option>
                      <option *ngFor="let name of profile" [ngValue]="name">{{name}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="col col-lg-12">
                    <input type="text" placeholder="Enter Invested Amount" name="investment" [(ngModel)]=investmentReturnRequest.investedamount class="form-control" />
                  </div>
                  <br/>
                  <div class="col col-lg-12">
                    <input type="text" placeholder="Enter Current Value" name="currentvalue" [(ngModel)]=investmentReturnRequest.currentvalue class="form-control" />
                  </div>
                  <br/>
				  </div>
        </div>
        <div class="col col-lg-4">
            <h3 class="heading">PF Details</h3>
            <div class="col col-lg-12">
                <select id="profile" name="profile" [(ngModel)]=investmentReturnRequest.profile class="form-control cust-sel">
                  <option value="undefined" selected disabled>Select Profile</option>
                  <option *ngFor="let name of profile" [ngValue]="name">{{name}}</option>
                </select>
              </div>
              <br/>
          <div class="col col-lg-12">
            <input type="text" placeholder="Contribution" name="investment" [(ngModel)]=investmentReturnRequest.investedamount class="form-control" />
          </div>
          <br/>
          <div class="col col-lg-12">
            <input type="text" placeholder="Interest" name="currentvalue" [(ngModel)]=investmentReturnRequest.currentvalue class="form-control" />
          </div>
          <br/>
          <div class="col col-lg-12">
            <input type="text" placeholder="Enter PF Type" name="type" [(ngModel)]=investmentReturnRequest.type class="form-control" />
          </div>
          <br/>

        </div>
      </div>
      <div class="row">
        <div class="col col-lg-4">
            <div class="col col-lg-12">
                <button (click)='addInvestment()' class="btn btn-secondary">Add SIP Details</button>
              </div>
        </div>
        <div class="col col-lg-4">
            <div class="col col-lg-12">
                <button (click)='saveReturns()' class="btn btn-secondary">Save Mutual Fund</button>
              </div>
        </div>
        <div class="col col-lg-4">
            <div class="col col-lg-12">
                <button (click)='saveProvidentFund()' class="btn btn-secondary">Save PF</button>
              </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col col-lg-6">
            <h3 class="heading">Equity</h3>
            <div class="col col-lg-12">
                <input type="text" placeholder="Enter Invested Amount" name="investment" [(ngModel)]=investmentReturnRequest.investedamount class="form-control" />
              </div>
              <br/>
              <div class="col col-lg-12">
                <input type="text" placeholder="Enter Current Value" name="currentvalue" [(ngModel)]=investmentReturnRequest.currentvalue class="form-control" />
              </div>
              <br/>
              <div class="col col-lg-12">
                <button (click)='saveEquityInvestment()' class="btn btn-secondary">Save Equity</button>
              </div>
            </div>
            <div class="col col-lg-6">
                <app-debt-entry-form></app-debt-entry-form>
            </div>
      </div>   
  </div>
</body>
</html>
<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>
