<!DOCTYPE html>

<html lamng="eng" dir="ltr">

<body>
  <div class="container-fluid">
    <div class="card mb-4">
      <div class="card-header">
        <div class="col col-lg-12">
          <mat-card-subtitle>Investment/Savings/Debt entry form</mat-card-subtitle>
        </div>
      </div>
      <div class="card-body">
        <mat-form-field class="table">
          <mat-label>Select desired action</mat-label>
          <mat-select [(ngModel)]=selectedAction name="name">
            <mat-option *ngFor="let name of actions" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-sip-create-form [profile]="profile" *ngIf="selectedAction=='Add SIP Details'"></app-sip-create-form>
        <app-mutual-fund-return-create-form [profile]="profile" *ngIf="selectedAction=='Save mutual fund Return'">
        </app-mutual-fund-return-create-form>
        <app-provident-fund-create-form [profile]="profile" *ngIf="selectedAction=='Save provident fund'"></app-provident-fund-create-form>
        <app-equity-return-create-form [profile]="profile" *ngIf="selectedAction=='Save Equity'"></app-equity-return-create-form>
        <app-debt-entry-form [profile]="profile" *ngIf="selectedAction=='Add Debt'"></app-debt-entry-form>
      </div>
    </div>
  </div>
</body>

</html>
<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>