<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Liabilities - &#8377; {{totalDebts}}</li>
</ol>
<div class="row">
    <div *ngFor="let debt of debtDasbhboardData" class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">{{debt.accountname}}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" [routerLink]="['/investmenttracker']">&#8377;
                    {{debt.currentbalance}}</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>