<div class="container-fluid">
      <div class="card mb-4">
            <div class="card-header">
                  <span style="font-size: 1em; color: Tomato;">
                        <i class="fas fa-tachometer-alt mr-1"></i>
                  </span>
                  Dashboard
                  <span style="font-size: 1em; color: Tomato; cursor: pointer; float:right" (click)="captureScreen()">
                        <i class="fas fa-file-pdf mr-1"></i>
                  </span>
            </div>
            <div class="card-body" id="canvastoprint">
                  <app-assets-dashboard></app-assets-dashboard>
                  <app-debts-dashboard></app-debts-dashboard>
            </div>
      </div>
</div>