<div class="col col-lg-12">
    <h3 class="heading">Mutual Fund Returns</h3>
    <div class="col col-lg-12">
        <div class="col col-lg-12">
            <select id="profile" name="profile" [(ngModel)]=investmentReturnRequest.profile class="form-control cust-sel">
              <option value="undefined" selected disabled>Select Profile</option>
              <option *ngFor="let name of profile" [ngValue]="name">{{name}}</option>
            </select>
          </div>
          <br/>
          <div class="col col-lg-12">
            <input type="text" placeholder="Enter Invested Amount" name="investment" [(ngModel)]=investmentReturnRequest.investedamount class="form-control" />
          </div>
          <br/>
          <div class="col col-lg-12">
            <input type="text" placeholder="Enter Current Value" name="currentvalue" [(ngModel)]=investmentReturnRequest.currentvalue class="form-control" />
          </div>
          <br/>
          </div>
          <div class="col col-lg-12">
            <button (click)='saveReturns()' class="btn btn-secondary">Save Mutual Fund</button>
          </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>