<div class="login-popup">
    <div class="login-container">
      <h2>Login</h2>
      <form (ngSubmit)="login()">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" required>
        <br>
        <button type="submit">Login</button>
      </form>
      <button class="close-button" (click)="closePopup()">Close</button>
    </div>
  </div>