<!DOCTYPE html>

<html lamng="eng" dir="ltr">
<body class="">
    <form #applicationForm="ngForm" *ngIf="sipDetailsByFund">
        <div class="mat-elevation-z8">
          <table matSort mat-table [dataSource]="dataSource">
        
            <!-- Name Column -->
            <ng-container matColumnDef="fundName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fund Name </th>
              <td mat-cell *matCellDef="let element"> {{element.fundName}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="denomination">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Investment </th>
              <td mat-cell *matCellDef="let element"> {{element.denomination}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </form>
    </body>
    </html>
 <mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>
