<div class="col col-lg-12">
  <h3 class="heading">PF Details</h3>
  <div class="col col-lg-12">
    <select id="profile" name="profile" [(ngModel)]=investmentReturnRequest.profile class="form-control cust-sel">
      <option value="undefined" selected disabled>Select Profile</option>
      <option *ngFor="let name of profile" [ngValue]="name">{{name}}</option>
    </select>
  </div>
  <br />
  <div class="col col-lg-12">
    <select id="type" name="type" [(ngModel)]=selectedAction class="form-control cust-sel">
      <option value="undefined" selected disabled>Select PF Type</option>
      <option value="EPFO" selected>EPFO</option>
      <option value="PPF" selected>PPF</option>
    </select>
  </div>

  <div class="col col-lg-12" *ngIf="selectedAction=='EPFO'">
    <br />
    <input type="text" placeholder="EPFO Balance" name="investment" [(ngModel)]=investmentReturnRequest.investedamount
      class="form-control" />
  </div>

  <div class="col col-lg-12" *ngIf="selectedAction=='PPF'">
    <br />
    <input type="text" placeholder="PPF Balance" name="currentvalue" [(ngModel)]=investmentReturnRequest.currentvalue
      class="form-control" />
  </div>
  <br />
  <div class="col col-lg-12">
    <button (click)='saveProvidentFund()' class="btn btn-secondary">Save PF</button>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>